{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Welcome to Addbook</h2>
 <form action = 'readdata' method="post">
     {% csrf_token %}
        <table align="center">
    <tr>
        <td>BookName:</td>
        <td><input type = "text" name ="txtname" placeholder="name"></td>
        </tr>


            <tr>
        <td>AuthorName:</td>
        <td><input type = "text" name ="txtauthor" placeholder="password"></td>
        </tr>

            <tr>
        <td>Course:</td>
                <td>
                    <select name="ddlcourse">
                        {% for i in data %}
                            <option>{{i}}</option>
                        {% endfor %}
                </select>
                </td>
                </tr>


        <tr>
        <td><input type = "submit" name = "btnsub" value = "Submit"></td>
    </tr>
        </table>

    </form>
</body>
</html>
{% endblock %}