{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Admin Registration page</h2>
 <form action = 'aregdata' method="post">
     {% csrf_token %}
     <h3 style="color:red" align="center">{{data}}</h3>
        <table align="center">
    <tr>
        <td>UserName:</td>
        <td><input type = "text" name ="txtusername" placeholder="name"></td>
        </tr>
          <tr>
        <td>Email:</td>
        <td><input type = "email" name ="txtemail" placeholder="email"></td>
        </tr>


            <tr>
        <td>Password:</td>
        <td><input type = "password" name ="txtpawd" placeholder="password"></td>
        </tr>

        <tr>
        <td><input type = "submit" name = "btnsub" value = "Register"></td>
    </tr>
        </table>

    </form>
</body>
</html>