{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Welcome to Displaybook</h2>
<table align="center" border="2" class="table">
    <tr>
        <th>ID</th>
        <th>BookName</th>
        <th>AuthorName</th>
        <th>CourseName</th>
        <th>Update</th>
        <th>Delete</th>

    </tr>
    {% for i in data %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.Books_Name }}</td>
            <td>{{ i.Author_Name }}</td>
            <td>{{ i.Course_id }}</td>
            <td><a href="{% url 'update' i.id %}">Update</a> </td>
            <td><a href="{% url 'del' i.id %}">Delete</a> </td>
        </tr>
    {% endfor %}

        </table>
</body>
</html>
{% endblock %}